# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Items not yet generalized for public use
build-prod.sh
debug-compose.yml
docker-compose.yml
docker-compose-aws.yml
Dockerfile-Nginx
Dockerfile-Research
ecs-params.yml
prod-compose.yml
promote-prod.sh
publish-staging.sh
push-aws.sh
rebuild-and-publish-all.sh
task-execution-assume-role.json
AWS/
build-refs/
deprecated/
nginx/

# dependencies
node_modules/

# Intellij
.idea

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media