[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
daphne = "*"

[packages]
opencv-python = "*"
django = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
zstandard = "*"

[requires]
python_version = "3.7"
